---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "starboard-operator.fullname" . }}
  labels:
    {{- include "starboard-operator.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- . | toYaml | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.metricsPort }}
      targetPort: metrics
      name: metrics
  selector:
    {{- include "starboard-operator.selectorLabels" . | nindent 4 }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "starboard-operator.fullname" . }}
  labels:
    {{- include "starboard-operator.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.operator.replicas }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{- include "starboard-operator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- . | toYaml | nindent 8 }}
      {{- end }}
      labels:
        {{- include "starboard-operator.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "starboard-operator.serviceAccountName" . }}
      automountServiceAccountToken: true
      containers:
        - name: {{ .Chart.Name | quote }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          {{- with .Values.image.pullPolicy }}
          imagePullPolicy: {{ . }}
          {{- end }}
          env:
            - name: OPERATOR_NAMESPACE
              value: {{ .Release.Namespace | quote }}
            - name: OPERATOR_TARGET_NAMESPACES
              value: {{ .Values.targetNamespaces | quote }}
            - name: OPERATOR_EXCLUDE_NAMESPACES
              value: {{ tpl .Values.excludeNamespaces . | quote }}
            - name: OPERATOR_SERVICE_ACCOUNT
              value: {{ include "starboard-operator.serviceAccountName" . | quote }}
            - name: OPERATOR_LOG_DEV_MODE
              value: {{ .Values.operator.logDevMode | quote }}
            - name: OPERATOR_SCAN_JOB_TIMEOUT
              value: {{ .Values.operator.scanJobTimeout | quote }}
            - name: OPERATOR_CONCURRENT_SCAN_JOBS_LIMIT
              value: {{ .Values.operator.scanJobsConcurrentLimit | quote }}
            - name: OPERATOR_SCAN_JOB_RETRY_AFTER
              value: {{ .Values.operator.scanJobsRetryDelay | quote }}
            - name: OPERATOR_BATCH_DELETE_LIMIT
              value: {{ .Values.operator.batchDeleteLimit | quote }}
            - name: OPERATOR_BATCH_DELETE_DELAY
              value: {{ .Values.operator.batchDeleteDelay | quote }}
            - name: OPERATOR_METRICS_BIND_ADDRESS
              value: ":8080"
            - name: OPERATOR_HEALTH_PROBE_BIND_ADDRESS
              value: ":9090"
            - name: OPERATOR_CIS_KUBERNETES_BENCHMARK_ENABLED
              value: {{ .Values.operator.kubernetesBenchmarkEnabled | quote }}
            - name: OPERATOR_VULNERABILITY_SCANNER_ENABLED
              value: {{ .Values.operator.vulnerabilityScannerEnabled | quote }}
            - name: OPERATOR_VULNERABILITY_SCANNER_SCAN_ONLY_CURRENT_REVISIONS
              value: {{ .Values.operator.vulnerabilityScannerScanOnlyCurrentRevisions | quote }}
            - name: OPERATOR_VULNERABILITY_SCANNER_REPORT_TTL
              value: {{ .Values.operator.vulnerabilityScannerReportTTL | quote }}
            - name: OPERATOR_CONFIG_AUDIT_SCANNER_ENABLED
              value: {{ .Values.operator.configAuditScannerEnabled | quote }}
            - name: OPERATOR_CONFIG_AUDIT_SCANNER_SCAN_ONLY_CURRENT_REVISIONS
              value: {{ .Values.operator.configAuditScannerScanOnlyCurrentRevisions | quote }}
            - name: OPERATOR_CONFIG_AUDIT_SCANNER_BUILTIN
              value: {{ .Values.operator.configAuditScannerBuiltIn | quote }}
            - name: OPERATOR_CLUSTER_COMPLIANCE_ENABLED
              value: {{ .Values.operator.clusterComplianceEnabled | quote }}
            {{- if gt (int .Values.operator.replicas) 1 }}
            - name: OPERATOR_LEADER_ELECTION_ENABLED
              value: "true"
            - name: OPERATOR_LEADER_ELECTION_ID
              value: {{ .Values.operator.leaderElectionId | quote }}
            {{- end }}
          ports:
            - name: metrics
              containerPort: 8080
            - name: probes
              containerPort: 9090
          readinessProbe:
            httpGet:
              path: /readyz/
              port: probes
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /healthz/
              port: probes
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 10
          resources:
            {{- .Values.resources | toYaml | nindent 12 }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- . | toYaml | nindent 12 }}
          {{- end }}
      {{- with .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- . | toYaml | nindent 8 }}
      {{- end }}
      securityContext:
        {{- .Values.podSecurityContext | toYaml | nindent 8 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- . | toYaml | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- . | toYaml | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- . | toYaml | nindent 8 }}
      {{- end }}
