---
apiVersion: aquasecurity.github.io/v1alpha1
kind: ClusterComplianceReport
metadata:
  name: nsa
  labels:
    app.kubernetes.io/name: starboard-operator
    app.kubernetes.io/instance: starboard-operator
    app.kubernetes.io/version: "0.15.13"
    app.kubernetes.io/managed-by: kubectl
spec:
  name: nsa
  description: National Security Agency - Kubernetes Hardening Guidance
  version: "1.0"
  cron: "0 */3 * * *"
  controls:
    - name: Non-root containers
      description: "Check that container is not running as root"
      id: "1.0"
      kinds:
        - Workload
      mapping:
        scanner: config-audit
        checks:
          - id: KSV012
      severity: "MEDIUM"
    - name: Immutable container file systems
      description: "Check that container root file system is immutable"
      id: "1.1"
      kinds:
        - Workload
      mapping:
        scanner: config-audit
        checks:
          - id: KSV014
      severity: "LOW"
    - name: Preventing privileged containers
      description: "Controls whether Pods can run privileged containers"
      id: "1.2"
      kinds:
        - Workload
      mapping:
        scanner: config-audit
        checks:
          - id: KSV017
      severity: "HIGH"
    - name: Share containers process namespaces
      description: "Controls whether containers can share process namespaces"
      id: "1.3"
      kinds:
        - Workload
      mapping:
        scanner: config-audit
        checks:
          - id: KSV008
      severity: "HIGH"
    - name: Share host process namespaces
      description: "Controls whether share host process namespaces"
      id: "1.4"
      kinds:
        - Workload
      mapping:
        scanner: config-audit
        checks:
          - id: KSV009
      severity: "HIGH"
    - name: Use the host network
      description: "Controls whether containers can use the host network"
      id: "1.5"
      kinds:
        - Workload
      mapping:
        scanner: config-audit
        checks:
          - id: KSV010
      severity: "HIGH"
    - name: Run with root privileges or with root group membership
      description: "Controls whether container applications can run with root privileges or with root group membership"
      id: "1.6"
      kinds:
        - Workload
      mapping:
        scanner: config-audit
        checks:
          - id: KSV029
      severity: "LOW"
    - name: Restricts escalation to root privileges
      description: "Control check restrictions escalation to root privileges"
      id: "1.7"
      kinds:
        - Workload
      mapping:
        scanner: config-audit
        checks:
          - id: KSV001
      severity: "MEDIUM"
    - name: Sets the SELinux context of the container
      description: "Control checks if pod sets the SELinux context of the container"
      id: "1.8"
      kinds:
        - Workload
      mapping:
        scanner: config-audit
        checks:
          - id: KSV002
      severity: "MEDIUM"
    - name: Restrict a container's access to resources with AppArmor
      description: "Control checks the restriction of containers access to resources with AppArmor"
      id: "1.9"
      kinds:
        - Workload
      mapping:
        scanner: config-audit
        checks:
          - id: KSV030
      severity: "MEDIUM"
    - name: Sets the seccomp profile used to sandbox containers.
      description: "Control checks the sets the seccomp profile used to sandbox containers"
      id: "1.10"
      kinds:
        - Workload
      mapping:
        scanner: config-audit
        checks:
          - id: KSV030
      severity: "LOW"
    - name: Protecting Pod service account tokens
      description: "Control check whether disable secret token been mount ,automountServiceAccountToken: false"
      id: "1.11"
      kinds:
        - Workload
      mapping:
        scanner: config-audit
        checks:
          - id: KSV036
      severity: "MEDIUM"
    - name: Namespace kube-system should not be used by users
      description: "Control check whether Namespace kube-system is not be used by users"
      id: "1.12"
      kinds:
        - NetworkPolicy
      defaultStatus: "FAIL"
      mapping:
        scanner: config-audit
        checks:
          - id: KSV037
      severity: "MEDIUM"
    - name: Pod and/or namespace Selectors usage
      description: "Control check validate the pod and/or namespace Selectors usage"
      id: "2.0"
      kinds:
        - NetworkPolicy
      defaultStatus: "FAIL"
      mapping:
        scanner: config-audit
        checks:
          - id: KSV038
      severity: "MEDIUM"
    - name: Use CNI plugin that supports NetworkPolicy API
      description: "Control check whether check cni plugin installed"
      id: "3.0"
      kinds:
        - Node
      mapping:
        scanner: kube-bench
        checks:
          - id: 5.3.1
      severity: "CRITICAL"
    - name: Use ResourceQuota policies to limit resources
      description: "Control check the use of ResourceQuota policy to limit aggregate resource usage within namespace"
      id: "4.0"
      kinds:
        - ResourceQuota
      defaultStatus: "FAIL"
      mapping:
        scanner: config-audit
        checks:
          - id: "KSV040"
      severity: "MEDIUM"
    - name: Use LimitRange policies to limit resources
      description: "Control check the use of LimitRange policy limit resource usage for namespaces or nodes"
      id: "4.1"
      kinds:
        - LimitRange
      defaultStatus: "FAIL"
      mapping:
        scanner: config-audit
        checks:
          - id: "KSV039"
      severity: "MEDIUM"
    - name: Control plan disable insecure port
      description: "Control check whether control plan disable insecure port"
      id: "5.0"
      kinds:
        - Node
      mapping:
        scanner: kube-bench
        checks:
          - id: 1.2.19
      severity: "CRITICAL"
    - name: Encrypt etcd communication
      description: "Control check whether etcd communication is encrypted"
      id: "5.1"
      kinds:
        - Node
      mapping:
        scanner: kube-bench
        checks:
          - id: "2.1"
      severity: "CRITICAL"
    - name: Ensure kube config file permission
      description: "Control check whether kube config file permissions"
      id: "6.0"
      kinds:
        - Node
      mapping:
        scanner: kube-bench
        checks:
          - id: 4.1.3
          - id: 4.1.4
      severity: "CRITICAL"
    - name: Check that encryption resource has been set
      description: "Control checks whether encryption resource has been set"
      id: "6.1"
      kinds:
        - Node
      mapping:
        scanner: kube-bench
        checks:
          - id: 1.2.31
          - id: 1.2.32
      severity: "CRITICAL"
    - name: Check encryption provider
      description: "Control checks whether encryption provider has been set"
      id: "6.2"
      kinds:
        - Node
      mapping:
        scanner: kube-bench
        checks:
          - id: 1.2.3
      severity: "CRITICAL"
    - name: Make sure anonymous-auth is unset
      description: "Control checks whether anonymous-auth is unset"
      id: "7.0"
      kinds:
        - Node
      mapping:
        scanner: kube-bench
        checks:
          - id: 1.2.1
      severity: "CRITICAL"
    - name: Make sure -authorization-mode=RBAC
      description: "Control check whether RBAC permission is in use"
      id: "7.1"
      kinds:
        - Node
      mapping:
        scanner: kube-bench
        checks:
          - id: 1.2.7
          - id: 1.2.8
      severity: "CRITICAL"
    - name: Audit policy is configure
      description: "Control check whether audit policy is configure"
      id: "8.0"
      kinds:
        - Node
      mapping:
        scanner: kube-bench
        checks:
          - id: 3.2.1
      severity: "HIGH"
    - name: Audit log path is configure
      description: "Control check whether audit log path is configure"
      id: "8.1"
      kinds:
        - Node
      mapping:
        scanner: kube-bench
        checks:
          - id: 1.2.22
      severity: "MEDIUM"
    - name: Audit log aging
      description: "Control check whether audit log aging is configure"
      id: "8.2"
      kinds:
        - Node
      mapping:
        scanner: kube-bench
        checks:
          - id: 1.2.23
      severity: "MEDIUM"
