---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: ciskubebenchreports.aquasecurity.github.io
  labels:
    app.kubernetes.io/managed-by: starboard
    app.kubernetes.io/version: "0.15.13"
spec:
  group: aquasecurity.github.io
  versions:
    - name: v1alpha1
      served: true
      storage: true
      additionalPrinterColumns:
        - jsonPath: .report.scanner.name
          type: string
          name: Scanner
        - jsonPath: .metadata.creationTimestamp
          type: date
          name: Age
        - jsonPath: .report.summary.failCount
          type: integer
          name: Fail
          priority: 1
        - jsonPath: .report.summary.warnCount
          type: integer
          name: Warn
          priority: 1
        - jsonPath: .report.summary.infoCount
          type: integer
          name: Info
          priority: 1
        - jsonPath: .report.summary.passCount
          type: integer
          name: Pass
          priority: 1
      schema:
        openAPIV3Schema:
          x-kubernetes-preserve-unknown-fields: true
          type: "object"
  scope: Cluster
  names:
    singular: ciskubebenchreport
    plural: ciskubebenchreports
    kind: CISKubeBenchReport
    listKind: CISKubeBenchReportList
    categories: []
    shortNames:
      - kubebench
